
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Miscellaneous
public/demo/validate/ndr/CrashDriver-6.0/
public/demo/validate/xml/multi/Crash Driver IEPD/
.vscode/
stash/
sw.*
