
/* TODO: Clean up styles */

// @use "tailwindcss";
// @import "@nuxt/ui";

@import url("icons.scss");
// @import url("variables.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;

a[href] {
  color: #00709A;
}

a[href]:hover {
  color: #00709A;
  font-weight: bolder;
}

// TODO: button:active styling
// button:active {
  // background-color: dimgray !important;
  // color: white !important;
// }

button:hover {
  font-weight: bolder;
}

.color-niem {
  color: var(--color-niem);
}

form > *:not(:first-child), .spaced > *:not(:first-child) {
  margin-top: var(--app-vertical-spacer);
}

form.sm > *:not(:first-child), .spaced-sm > *:not(:first-child) {
  margin-top: var(--app-vertical-spacer-sm);
}

h1 {
  font-size: x-large;
  font-weight: 700;
}

h2 {
  /* @apply text-xl; */
  font-size: large;
  font-weight: 500;
}

h3 {
  font-weight: 500;
  padding-bottom: 4px;
}

input::file-selector-button {
  border-right: solid lightgray 1px;
  font-weight: 300;
  margin-right: 12px;
  padding-right: 12px;
}

kbd {
  // background-color: whitesmoke;
  // color: darkgray;
  background-color: transparent !important;
  border-width: 0 !important;
  color: var(--color-amber-800) !important;
  font-family: 'Courier New', Courier, monospace;
  font-size: small !important;
  font-weight: bolder !important;
}

ul.bullets {
  // TODO: Figure out how to apply classes
  // @apply list-disc;
  // @apply list-outside;
  // @apply ml5;
  list-style-type: disc;
  list-style-position: outside;
  margin-left: 18px;
}
