
// $color-niem: #00709A;
$color-niem: #297DB3;
$color-niem-light: #297eb32f;

// Leading icons with padding and spacing takes 48px
$padding-left-app: 48px;

// Fixed height values
$height-navbar: 40px;
$height-footer: 64px;
